@model string

@{
    ViewData["Title"] = "Daily Receipt";
}

<style>
    #pageloader {
        background: rgba( 255, 255, 255, 0.8 );
        display: none;
        height: 100%;
        position: fixed;
        width: 100%;
        z-index: 9999;
    }

    #pageloader img {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transform: -webkit-translate(-50%, -50%);
        transform: -moz-translate(-50%, -50%);
        transform: -ms-translate(-50%, -50%);
        color:darkred;
    }
    
</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<div id="pageloader">
    <img src="http://cdnjs.cloudflare.com/ajax/libs/semantic-ui/0.16.1/images/loader-large.gif" alt="processing..." />
</div>


<div class="container">
    <form method="post" style="text-align:center" id="frmMain" action="@Url.Action("ExportReceipts")">
        <div class="alert alert-info" style="margin-top:20px">
            <strong>Export</strong> Daily Receipts.
        </div>
        <input type="hidden" value="true" name="fromWeb" />

        <div class="input-group">
            <div class="form-group col-sm-6">
                <b>  From (or Single Day Option)</b>
                <input id="msg" type="date" class="form-control" name="dateToRetriveFrom" placeholder="Date">
            </div>
            <div class="form-group col-sm-6">
                <b>To (Choose to activate Date Period Option)</b>
                <input id="msg2" type="date" class="form-control" name="dateToRetriveTo" placeholder="Date">
            </div>
        </div>
        <br />
        <button id="btnSubmit" class="btn btn-success btn-lg" style="width:30%" type="button">Export</button>
    </form>
    @{
        if (Model == "N/A")
        {
            <div class="alert alert-danger" style="margin-top:30px">
                <strong>No such orders to export. </strong>
            </div>

        }
        else if (!string.IsNullOrEmpty(Model))
        {
            <div class="alert alert-success" style="margin-top:30px">
                <strong>Your file is ready. </strong> <a style="float:right" target="_blank" download href="@Url.Action("DownloadFile", "Home", new {fileToDownload = Model, subFolder = "Data/Receipts" })">Click here to download your file</a>
            </div>
        }

    }
</div>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    $("#errorLabel").hide();
    $(document).ready(function () {

        $("#btnSubmit").click(function () {
            var dt1 = $("#msg").val();
            var dt2 = $("#msg2").val();

            var dateFrom = new Date(dt1);
            var dateTo = new Date(dt2);
            if (dateFrom > dateTo) {
                $("#errorLabel").show();
            }
            else {
                $("#frmMain").submit();
            }
        });//submit
        $("#frmMain").on("submit", function () {
            $("#pageloader").fadeIn();
            $('#btnSubmit').prop("disabled", true);
        });
    });

</script>