@model List<ShopifySharp.Order>
@{
    ViewData["Title"] = "Home Page";
 
}
 
<div class="col-md-12" style="text-align:center;margin-top:100px">
    <a style="width:100%" target="_blank" href="@Url.Action("CSV")" class="btn btn-success btn-lg"> Export Orders </a>
</div>


 